<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>428426730935-hk7t5vvm5jv49k1h81fulgsjqeu3l7hk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.428426730935-hk7t5vvm5jv49k1h81fulgsjqeu3l7hk</string>
	<key>API_KEY</key>
	<string>AIzaSyAYn4L0KUGa0zGQiAVmPM7WgOKRk4sxupY</string>
	<key>GCM_SENDER_ID</key>
	<string>428426730935</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>cdm.restaurant.beach</string>
	<key>PROJECT_ID</key>
	<string>fir-crud-30f54</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-crud-30f54.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:428426730935:ios:ee7ec413ac6a83d4</string>
	<key>DATABASE_URL</key>
	<string>https://fir-crud-30f54.firebaseio.com</string>
</dict>
</plist>