<ion-header>
    <ion-navbar color="primary">
        <ion-buttons left>
            <button ion-button  (click)="back()" >
                <ion-icon name="arrow-back"></ion-icon>
            </button>
        </ion-buttons>
  <header-component [currentPage]="currentPage" (filterDrinks)="filterDrinks($event)" ></header-component>
  </ion-navbar>
  </ion-header>

  <ion-content>

    <ion-card *ngFor="let drinkContent of drinksRef$ | async" color="light" style="font-size: 22px" >
       <ion-card-header >
         {{ drinkContent.title }}
       </ion-card-header>

       <ion-list inset *ngFor="let drinks of drinkContent.drinkType | async" >
         <button ion-item detail-none [disabled]="drinks.disable">
            {{ drinks.drink }}
         </button>

      </ion-list>


   </ion-card>

   <!-- <ng-template #loading>
     <ion-spinner></ion-spinner>
   </ng-template> -->



</ion-content>
