page-intro {

.profile-view__image-container {

  background-image: url(../assets/img/intro_restaurant3.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

}

.bg-image {
  background-image: url(../assets/img/bg-image2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.social-image {
  background-image: url(../assets/img/social-network.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

}
